<h1>Players</h1>

{% if player_list %}
	<ul>
	{% for player in player_list %}
		<li><a href="{% url 'char_sheet:detail' player.id %}">{{ player.player_name }}</a></li>
		<div>
		<ul>
		{% for charakter in charakter_list %}
			{% if charakter.player == player %}
				<li><a href="{% url 'char_sheet:char_detail' player.id %}">{{ charakter.char_name }}</a></li>
			{% endif %}
		{% endfor %}
		</ul>
		</div>
	{% endfor %}
	</ul>
{% else %}
	<p>No players have been created</p>
{% endif %}

<div>
	<form method="post">
		{% csrf_token %}
		<input type="text" name="player_name" placeholder="Enter player name">
		<label for="player_name">Player Name:</label>
		<input type="submit" value="New Player">
	</form>
</div>